<ul>
 <div class="block">
  <div class="inner-block">
   <li class="title">Deferrable Views</li>
   <div class="sub-block">
    <div class="inner-block">
     <p class="title">Block</p>
     <li class="df">&#64;defer</li>
     <li class="df">&#64;placeholder</li>
     <li class="df">&#64;loading</li>
     <li class="df">&#64;error</li>
    </div>
   </div>
   <div class="sub-block">
    <div class="inner-block">
     <p class="title">Triggers</p>
     <li class="df">on idle</li>
     <li class="df">on viewport</li>
     <li class="df">on interaction</li>
     <li class="df">on hover</li>
     <li class="df">on immediate</li>
     <li class="df">on timer</li>
    </div>
   </div>
   <div class="sub-block">
    <div class="inner-block">
     @defer (on timer(2s)){
     <app-menu />
     } @placeholder {
     <div class="loader"></div>
     }
    </div>
   </div>
  </div>
 </div>
 <div class="block">
  <div class="inner-block">
   <li class="title">Image Optimization</li>
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/1.jpeg" alt="jsonPipe" fill priority />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/2.jpeg" alt="observablesAsyncPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/3.jpeg" alt="promisAsynsPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/4.jpeg" alt="I18nPluralPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/5.jpeg" alt="I18nPluralPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/6.jpeg" alt="I18nPluralPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/7.jpeg" alt="I18nPluralPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/8.jpeg" alt="I18nPluralPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/9.jpeg" alt="I18nPluralPipe" fill />
  </div>
  <div style="position: relative; max-width: 800px; height: 400px; margin-top: 5px">
   <img ngSrc="/assets/images/10.jpeg" alt="I18nPluralPipe" fill />
  </div>
 </div>
 <div class="block">
  <div class="inner-block">
   <li class="title">Server-side Rendering</li>
   <p class="hl-da">Will find out more later !</p>
  </div>
 </div>
 <div class="block">
  <div class="inner-block">
   <li class="title">Build-time prerendering</li>
   <p class="hl-da">Will find out more later !</p>
  </div>
 </div>
 <div class="block">
  <div class="inner-block">
   <li class="title">Hydration</li>
   <p class="hl-da">Will find out more later !</p>
  </div>
 </div>
</ul>
